<!--
  Generated template for the TrialformPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>
  <ion-navbar>
    <ion-title>Trial Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup] ="trialForm" (ngSubmit)="onSubmit(trialForm.value)">

    <h4 *ngIf="success">Trial Form is Valid!</h4>
    

  <ion-item>
    <label> 
      <h6>Name:</h6>
      <input type="text" formControlName="name">                                    
        <div *ngIf="submitted && trialForm.controls.name.errors" class = "error">
          <div *ngIf="trialForm.controls.name.errors.required">Please insert your name !</div>
          <div *ngIf="trialForm.controls.name.errors.minLength">At least 8 letters !</div>
          At least 8 letters !
        </div>
    </label>   
  </ion-item>


  <ion-item>
      <label>
        <h6>ID:</h6>
          <input type="text" formControlName="ID">                                    
          <div *ngIf="submitted && trialForm.controls.ID.errors" class = "error">
            <div *ngIf="trialForm.controls.ID.errors.compose">Please insert your ID with <br>minimum 5 characters containing letters and numbers!</div>
            <div *ngIf="trialForm.controls.ID.errors.required">Please insert your ID !<br><br></div>
            Please insert your ID with minimum <br> 5 characters containing letters and numbers!
          </div>
      </label>
    </ion-item>

  <ion-item>
    <label>
      <h6>Email:</h6>
      <input type="text" formControlName="email">                                                  
        <div *ngIf="submitted && trialForm.controls.email.errors" class = "error">
          <div *ngIf="trialForm.controls.email.errors.compose">Please enter valid email !</div>
          Please enter valid email !
        </div>
    </label>
  </ion-item>

  <ion-item>
    <label>
      <h6>Reason:</h6>
        <textarea formControlName="reason"></textarea>                               
        <div *ngIf="submitted && trialForm.controls.reason.errors" class = "error">
          <div *ngIf="trialForm.controls.reason.errors.required">Please state your reason for taking a leave !</div>
        </div>
    </label>
  </ion-item>

  <ion-item>
    <input type="submit" value="send message" class="cta"> 
  </ion-item>

  </form>
<ion-item>

    <div *ngIf="submitted" class="results">

        <strong>Name:</strong>
        <span>{{ trialForm.controls.name.value }}</span>

        <strong>ID:</strong>
        <span>{{ trialForm.controls.ID.value}}</span>

        <strong>your email:</strong>
        <span>{{ trialForm.controls.email.value }}</span>

        <strong>Reason fer leavin':</strong>
        <span>{{ trialForm.controls.reason.value }}</span>

    </div>
</ion-item>

<h4 *ngIf="success">Trial Form is Valid!</h4>

</ion-content>


<!--  

  <ion-item>
    <label>
      <h6>ID:</h6>
        <input type="text" formControlName="ID">                                    
        <div *ngIf="submitted && trialForm.controls.ID.errors" class = "validation-errors">
          <div *ngIf="trialForm.controls.ID.errors.compose">Please insert your ID with <br>3 diferrent letters and numbers!</div>
          <div *ngIf="trialForm.controls.ID.errors.required">Please insert your ID !</div>
        </div>
    </label>
  </ion-item>

-->



