<!--
  Generated template for the LeaveFormPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Leave Form</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">

    <h4 *ngIf="success"> your form is valid </h4>

    <label>
      name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
          <div *ngIf="messageForm.controls.name.errors.required">your name is needed bro</div>
      </div>
    </label>

    <label>
        message:
        <textarea formControlName="message"></textarea>
        <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
            <div *ngIf="messageForm.controls.message.errors.required">your message is needed too bro</div>
        </div>
      </label>
  

    <input type="submit" value="send message" class="cta">

  </form>

  <div *ngIf="submitted" class="results">
    <strong>Name:</strong>
    <span>{{ messageForm.controls.name.value }}</span>

    <strong>message:</strong>
    <span>{{ messageForm.controls.message.value }}</span>

  </div>
</ion-content>
